# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

All fundamental data types are immutable

# Variable Assignments

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [ ]:
x = 3

print(id(x))               #print address of variable x

In [ ]:
y = 3

print(id(y))               #print address of variable y

Observation:

x and y points to same memory location

In [ ]:
y = 2
print(id(y))               #print address of variable y

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

The biggest advantage with python is it will take care of allocation of variable type based on the value which is assigned to it.

In [ ]:
a = 5                               #data type is implicitly set to integer
#print(a, " is of type", type(a))

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

In [ ]:
# x+yj
a = 1 + 2j                          #data type is changed to complex number (a is real value and b is imaginary) 
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

# Boolean

 Boolean represents the truth values False and True

In [ ]:
a = True                          #a is a boolean type
print(type(a))

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [ ]:
s = "Example"
print(s)

In [ ]:
## few experiments 
## 10,20,50,100,256,257 ...so on 
s1 = 25
s2 = 25
print(s1 is s2) ## is opertaor checks the reference types
print(id(s1))
print(id(s2))

#strings
#boolean

Reusing the object in intgers are upto 0 to 256
boolean always
strings always

The slice is used to slice a given sequence (string, tuple, list or range) or any object which supports sequence .
+ve Index of slice is from 0 to n-1 .
_ve Index is from -1 to -n 
syntax is s[begin :end : step] #returns substring from begin index to end-1 index

In [ ]:
print(s[:2])

In [ ]:
#slicing
s[5:]

In [ ]:
#Negative slicing
s[-1:-4]

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].
Insertion order is perserved(first come first serve) and duplicates are allowed .
heterogeneous objects are allowed and list objects are growable (we can increase or decrease)

In [ ]:
#empty list 
l=[]
print(type(l))
l.append(10)
l.append(30)
l.append(20)
print(l)
l.append(30)
print(l)
l.append('pabba')
print(l)
l.append('None')

In [ ]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
a[1] = 30.7
print(a)

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

Representation of tuple is ()

In [ ]:
t = (1, 1.5, "ML")
#t = (1, 1.5, "ML",1)
print(t)

In [ ]:
print(t[1]) #extract particular element

In [ ]:
t[1] = 1.25

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

Insertion order is not preserved
Duplicates are not allowed
Hetrogenious objects are allowed
indexing and slicing are not allowed on set.
set is mutable

In [ ]:
a= {1,2,3,4,5}
print(a)

In [ ]:
print(type(a))             #print type of a

In [ ]:
#set is mutuable 
a.add(50)
a.remove(4)
a.add('hyderabad')
print(a)

We can perform set operations like union, intersection on two sets. Set have unique values.

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {'a': "apple", 'b': "bat"}
print d['a']

In [ ]:
s1={}
s2=set()
print(type(s1))
print(type(s2))

In [ ]:
s1 ={}
s1[1] = 'pabba'
s1[2] = 'shankar'
s1
s1[2] = 'shanu'
s1

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

In [ ]:
int(100.5)   #convert float to integer using int() method

In [ ]:
str(20)      #convert integer to string

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

In [ ]:
list("Hello")       #convert String to list using list() method